* {
  box-sizing: border-box;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#modal-backdrop {
  transition: opacity 0.3s ease-in-out;
}

.youtube-player {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0 auto;
  min-height: 50vh;
}

.footer-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid gray;
  padding: 1rem;
}


@media (max-width: 640px) {
  .youtube-player {
    padding-bottom: 80%; 
  }
  nav {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 0 1rem 0;
  }
  .container {
    padding: 0.2rem !important;
  }
  .title {
  padding: 0.5rem 0 !important;
}
}
